openapi: 3.0.3
info:
  title: University of St Andrews Service Components Status API
  description: JSON API for the University of St Andrews service status page, hosted on the Sorry (Sorry App) status platform. Exposes overall page status, system components, and notices (incidents and maintenance). The API is read-only and public. Fair-use rate limiting applies at 10 requests per second, and collections paginate at a maximum of 25 records per page. Paths and schemas in this document were derived from the published API documentation at https://status.st-andrews.ac.uk/api and verified against live responses.
  version: v1
  contact:
    name: University of St Andrews
    url: https://status.st-andrews.ac.uk/
servers:
- url: https://status.st-andrews.ac.uk/api/v1
  description: Production v1 endpoint
tags:
- name: Status
  description: Overall page status.
paths:
  /status:
    get:
      operationId: getStatus
      summary: Get overall page status
      description: Returns a simple overview of the current overall status of the status page.
      tags:
      - Status
      responses:
        '200':
          description: The current overall page status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
components:
  schemas:
    StatusResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
    Link:
      type: object
      properties:
        href:
          type: string
        count:
          type: integer
    Page:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        state:
          type: string
          enum:
          - operational
          - degraded
          - under_maintenance
        state_text:
          type: string
        url:
          type: string
          format: uri
        links:
          type: object
          properties:
            components:
              $ref: '#/components/schemas/Link'
            notices:
              $ref: '#/components/schemas/Link'
            self:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
